extends layout

block head
    link(href="stylesheets/index.css", rel="stylesheet")

block content
    #container
        #text
            div
                h1 Welkom bij Cryptxonline
                p Dit is een demo-project voor mijn sollicitatie om o.a de volgende vaardigheden aan te tonen: Rust, Node.js, Python, SQL, alles omtrent web (HTTP, Cookies, Cache,...), API's, sockets, Unix, en deployment. Maar vooral mijn mogelijkheid om met mijn programmeervaardigheden snel en flexibel toe te passen op nieuw en onbekend terrein.

                p Hoe werkt Cryptxonline? Simpel!
                    ul
                        li Registreer een account of login met niel:pass123.
                        li Bekijk een Bitcoin-chart die we halen uit de API van Binance of Kraken.
                        li Stel een testbedrag in. Hiermee kan je Bitcoin aankopen en verkopen en de evolutie van deze trade opvolgen.
                        li Upload een Python-trading algorithme en volg de prestatie op.
        #form-container
            form(action="/login", method="POST")
                span(class="title") Login
                input(type="text", name="username", placeholder="Gebruikersnaam", minlength="3", required)
                input(type="password", name="password", placeholder="Wachtwoord", minlength="5", required)
                #form-buttons
                    input(type="submit", name="login", value="Inloggen")
                    input(type="submit", name="register", value="Of registreer", id="registerbtn")

                if error
                    .form-error
                        span #{error}
