doctype html
html
    head
        title Alg | Online
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap")
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head
    body
        header
            a(href="/")
                img(src="/images/logo.png", id="logo")
            if user
                a(href="/panel", class="account-button")
                    img(src="/images/profile-white.png")
                    | Account
            else
                a(href="#login", class="account-button") Login
        block content
